<div class="container my-5">
  <h1 class="mb-3">Register</h1>

  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="addUser(form)">
        <div class="mb-3">
          <label for="firstname" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstname"
            name="firstname"
            [(ngModel)]="addUserRequest.firstName"
            required
          />
        </div>
        <div class="mb-3">
          <label for="lastname" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastname"
            name="lastname"
            [(ngModel)]="addUserRequest.lastName"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="addUserRequest.email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="addUserRequest.password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary me-2">Register</button>
        <button type="button" routerLink="/" class="btn btn-secondary">Cancel</button>
        <div
          class="alert alert-danger mt-2"
          rolet="alert"
          *ngIf="isFormInValid"
        >
          Please enter all fields!
        </div>
        <div
          class="alert alert-danger mt-2"
          rolet="alert"
          *ngIf="emailAlreadyExists"
        >
          Email already exists!
        </div>
      </form>
    </div>
  </div>
</div>
