<div class="login-wrapper">
  <div class="card">
    <div class="card-body">
      <main class="form-signin">
        <form (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

          <div class="form-floating">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              name="email"
              placeholder="name@example.com"
              ngModel
              required
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              name="password"
              placeholder="Password"
              ngModel
              required
            />
            <label for="floatingPassword">Password</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">
            Sign in
          </button>
          <div id="register-link" class="text-right">
            <a routerLink="register">Register here</a>
          </div>
          <div class="alert alert-danger" rolet="alert" *ngIf="isFormInValid">
            Please enter all fields
          </div>
          <div
            class="alert alert-danger"
            rolet="alert"
            *ngIf="areCredentialIsInvalid"
          >
            Invalid user/password
          </div>
        </form>
      </main>
    </div>
  </div>
</div>
